# NYC Motor Vehicle Collisions - Crashes

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt
import phik
from IPython.display import Markdown as md

In [4]:
df = pd.read_pickle("shared/Motor_Vehicle_Collisions_-_Crashes.pkl")
df

,CRASH DATE_CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,2021-09-11 02:39:00,NaN,NaN,NaN,NaN,NaN,WHITESTONE EXPRESSWAY,20 AVENUE,NaN,2.0,...,Unspecified,NaN,NaN,NaN,4455765,Sedan,Sedan,NaN,NaN,NaN
1,2022-03-26 11:45:00,NaN,NaN,NaN,NaN,NaN,QUEENSBORO BRIDGE UPPER,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,4513547,Sedan,NaN,NaN,NaN,NaN
2,2022-06-29 06:55:00,NaN,NaN,NaN,NaN,NaN,THROGS NECK BRIDGE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4541903,Sedan,Pick-up Truck,NaN,NaN,NaN
3,2021-09-11 09:35:00,BROOKLYN,11208.0,40.667202,-73.866500,"(40.667202, -73.8665)",NaN,NaN,1211 LORING AVENUE,0.0,...,NaN,NaN,NaN,NaN,4456314,Sedan,NaN,NaN,NaN,NaN
4,2021-12-14 08:13:00,BROOKLYN,11233.0,40.683304,-73.917274,"(40.683304, -73.917274)",SARATOGA AVENUE,DECATUR STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4486609,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018240,2023-07-03 18:05:00,NaN,NaN,40.866806,-73.931010,"(40.866806, -73.93101)",RIVERSIDE DRIVE,NaN,NaN,0.0,...,Unspecified,NaN,NaN,NaN,4648110,Sedan,Sedan,NaN,NaN,NaN
2018241,2023-07-22 21:39:00,BRONX,10457.0,40.844177,-73.902920,"(40.844177, -73.90292)",EAST 174 STREET,WEBSTER AVENUE,NaN,1.0,...,NaN,NaN,NaN,NaN,4648117,Sedan,NaN,NaN,NaN,NaN
2018242,2023-07-02 17:55:00,MANHATTAN,10006.0,40.711033,-74.014540,"(40.711033, -74.01454)",WEST STREET,LIBERTY STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4648366,Taxi,NaN,NaN,NaN,NaN
2018243,2023-07-22 13:15:00,QUEENS,11433.0,40.691580,-73.793190,"(40.69158, -73.79319)",110 AVENUE,157 STREET,NaN,1.0,...,Driver Inattention/Distraction,NaN,NaN,NaN,4648129,Station Wagon/Sport Utility Vehicle,E-Bike,NaN,NaN,NaN
2018244,2023-07-22 03:00:00,QUEENS,11433.0,40.700240,-73.792854,"(40.70024, -73.792854)",SOUTH ROAD,164 STREET,NaN,0.0,...,NaN,NaN,NaN,NaN,4647913,Sedan,NaN,NaN,NaN,NaN

## Exploratory Data Analysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2018245 entries, 0 to 2018244
Data columns (total 28 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE_CRASH TIME          datetime64[ns]
 1   BOROUGH                        object
 2   ZIP CODE                       object
 3   LATITUDE                       float64
 4   LONGITUDE                      float64
 5   LOCATION                       object
 6   ON STREET NAME                 object
 7   CROSS STREET NAME              object
 8   OFF STREET NAME                object
 9   NUMBER OF PERSONS INJURED      float64
 10  NUMBER OF PERSONS KILLED       float64
 11  NUMBER OF PEDESTRIANS INJURED  int64
 12  NUMBER OF PEDESTRIANS KILLED   int64
 13  NUMBER OF CYCLIST INJURED      int64
 14  NUMBER OF CYCLIST KILLED       int64
 15  NUMBER OF MOTORIST INJURED     int64
 16  NUMBER OF MOTORIST KILLED      int64
 17  CONTRIBUTING FACTOR VEHICLE 1  object
 18  CONTRIBUTING FACTOR VEHICLE 2  object
 19  CONTRIBUTING FACTOR VEHICLE 3  object
 20  CONTRIBUTING FACTOR VEHICLE 4  object
 21  CONTRIBUTING FACTOR VEHICLE 5  object
 22  COLLISION_ID                   int64
 23  VEHICLE TYPE CODE 1            object
 24  VEHICLE TYPE CODE 2            object
 25  VEHICLE TYPE CODE 3            object
 26  VEHICLE TYPE CODE 4            object
 27  VEHICLE TYPE CODE 5            object
dtypes: datetime64[ns](1), float64(4), int64(7), object(16)
memory usage: 431.1+ MB

In [6]:
df.describe()

,CRASH DATE_CRASH TIME,LATITUDE,LONGITUDE,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,COLLISION_ID
count,2018245,1.788560e+06,1.788560e+06,2.018227e+06,2.018214e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06,2.018245e+06
mean,2017-05-14 17:39:03.899198976,4.062776e+01,-7.375228e+01,3.024249e-01,1.446328e-03,5.518507e-02,7.253827e-04,2.612468e-02,1.119785e-04,2.179889e-01,5.896212e-04,3.116455e+06
min,2012-07-01 00:05:00,0.000000e+00,-2.013600e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.200000e+01
25%,2014-12-19 18:00:00,4.066792e+01,-7.397493e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.140681e+06
50%,2017-03-29 21:15:00,4.072102e+01,-7.392732e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.645346e+06
75%,2019-06-10 18:30:00,4.076956e+01,-7.386665e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.150156e+06
max,2023-08-15 23:59:00,4.334444e+01,0.000000e+00,4.300000e+01,8.000000e+00,2.700000e+01,6.000000e+00,4.000000e+00,2.000000e+00,4.300000e+01,5.000000e+00,4.655026e+06
std,NaN,1.980901e+00,3.727568e+00,6.937633e-01,4.007201e-02,2.412867e-01,2.741556e-02,1.614267e-01,1.062812e-02,6.549700e-01,2.648117e-02,1.503997e+06

In [7]:
df.columns

Index(['CRASH DATE_CRASH TIME', 'BOROUGH', 'ZIP CODE', 'LATITUDE', 'LONGITUDE',
       'LOCATION', 'ON STREET NAME', 'CROSS STREET NAME', 'OFF STREET NAME',
       'NUMBER OF PERSONS INJURED', 'NUMBER OF PERSONS KILLED',
       'NUMBER OF PEDESTRIANS INJURED', 'NUMBER OF PEDESTRIANS KILLED',
       'NUMBER OF CYCLIST INJURED', 'NUMBER OF CYCLIST KILLED',
       'NUMBER OF MOTORIST INJURED', 'NUMBER OF MOTORIST KILLED',
       'CONTRIBUTING FACTOR VEHICLE 1', 'CONTRIBUTING FACTOR VEHICLE 2',
       'CONTRIBUTING FACTOR VEHICLE 3', 'CONTRIBUTING FACTOR VEHICLE 4',
       'CONTRIBUTING FACTOR VEHICLE 5', 'COLLISION_ID', 'VEHICLE TYPE CODE 1',
       'VEHICLE TYPE CODE 2', 'VEHICLE TYPE CODE 3', 'VEHICLE TYPE CODE 4',
       'VEHICLE TYPE CODE 5'],
      dtype='object')

## Borough with maximum crashes reported in since $ 2012 $

In [8]:
df['CRASH DATE_CRASH TIME'].value_counts()

CRASH DATE_CRASH TIME
2015-01-18 08:00:00    51
2015-01-18 08:30:00    37
2018-11-15 16:00:00    36
2014-01-21 11:00:00    34
2014-01-21 10:00:00    32
                       ..
2018-01-30 12:51:00     1
2018-02-06 19:15:00     1
2018-01-29 16:57:00     1
2018-02-08 00:20:00     1
2023-07-22 13:15:00     1
Name: count, Length: 1096801, dtype: int64

In [11]:
df['CRASH DATE_CRASH TIME'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'])
df = df[df['CRASH DATE_CRASH TIME'].dt.year >= 2012]

In [13]:
borough_crash_counts = df['BOROUGH'].value_counts()
borough_crash_counts

BOROUGH
BROOKLYN         441026
QUEENS           372457
MANHATTAN        313266
BRONX            205345
STATEN ISLAND     58297
Name: count, dtype: int64

In [15]:
highest_crash_borough = borough_crash_counts.idxmax()
highest_crash_count = borough_crash_counts.max()
highest_crash_count

441026

## Borough with the maximum number of crashes adjusted for population

In [22]:
data = {'borough': ['brooklyn', 'queens', 'manhattan', 'bronx', 'staten island'],
        'crash_count': [441026, 372457, 313266,205345, 58297],
        'pop': [2648452, 2330295, 1638281, 1446788, 487155]}

mydf = pd.DataFrame(data)
mydf

         borough  crash_count      pop
0       brooklyn       441026  2648452
1         queens       372457  2330295
2      manhattan       313266  1638281
3          bronx       205345  1446788
4  staten island        58297   487155

In [24]:
mydf['maxcrash_population'] = (mydf['crash_count']/mydf['pop'])*100000
mydf.sort_values(by = 'maxcrash_population', ascending= False, inplace=True)
mydf

         borough  crash_count      pop  maxcrash_population
2      manhattan       313266  1638281         19121.628097
0       brooklyn       441026  2648452         16652.217975
1         queens       372457  2330295         15983.255339
3          bronx       205345  1446788         14193.164444
4  staten island        58297   487155         11966.827806

## Analyzing the leading cause of crashes

In [30]:
df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts()

CONTRIBUTING FACTOR VEHICLE 1
Unspecified                       692736
Driver Inattention/Distraction    401262
Failure to Yield Right-of-Way     119166
Following Too Closely             107467
Backing Unsafely                   75042
                                   ...
Cell Phone (hand-held)                79
Windshield Inadequate                 77
Texting                               50
Listening/Using Headphones            24
1                                     10
Name: count, Length: 61, dtype: int64

In [31]:
df = df[df['CONTRIBUTING FACTOR VEHICLE 1'] != 'Unspecified']

In [33]:
contributingfactors_count = df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts() 
contributingfactors_count

CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction                           401262
Failure to Yield Right-of-Way                            119166
Following Too Closely                                    107467
Backing Unsafely                                          75042
Other Vehicular                                           62688
Passing or Lane Usage Improper                            55445
Turning Improperly                                        49908
Passing Too Closely                                       49848
Fatigued/Drowsy                                           47343
Unsafe Lane Changing                                      39711
Traffic Control Disregarded                               35210
Driver Inexperience                                       31274
Unsafe Speed                                              26915
Alcohol Involvement                                       21656
Lost Consciousness                                        20374
Reaction to Uninvolved Vehicle                            19502
Pavement Slippery                                         19268
Prescription Medication                                   15407
View Obstructed/Limited                                   13215
Outside Car Distraction                                   12657
Oversized Vehicle                                         12352
Physical Disability                                        9342
Aggressive Driving/Road Rage                               9263
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      9116
Passenger Distraction                                      7925
Brakes Defective                                           6741
Fell Asleep                                                5459
Obstruction/Debris                                         4143
Glare                                                      4022
Failure to Keep Right                                      3239
Steering Failure                                           2791
Tire Failure/Inadequate                                    2453
Pavement Defective                                         2401
Other Electronic Device                                    2331
Illness                                                    2158
Illnes                                                     1584
Animals Action                                             1518
Reaction to Other Uninvolved Vehicle                       1337
Driverless/Runaway Vehicle                                 1209
Accelerator Defective                                      1060
Lane Marking Improper/Inadequate                            970
Traffic Control Device Improper/Non-Working                 847
Drugs (illegal)                                             838
Cell Phone (hand-Held)                                      503
Drugs (Illegal)                                             419
Cell Phone (hands-free)                                     269
Tow Hitch Defective                                         213
Other Lighting Defects                                      184
Tinted Windows                                              162
Using On Board Navigation Device                            148
Vehicle Vandalism                                           131
Headlights Defective                                        130
Eating or Drinking                                          116
80                                                          101
Shoulders Defective/Improper                                 88
Cell Phone (hand-held)                                       79
Windshield Inadequate                                        77
Texting                                                      50
Listening/Using Headphones                                   24
1                                                            10
Name: count, dtype: int64

In [34]:
leading_cause = contributingfactors_count.idxmax()
leadingcause_count = contributingfactors_count.max()

leadingcause_count

401262

In [40]:
total_accidents = len(df)
total_accidents

proportion_of_accidents = (leadingcause_count / total_accidents) *100
proportion_of_accidents

30.27229539746618

## Top 3 causes of crashes

contributingfactors_count = df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts() 
contributingfactors_count

In [44]:
contributingfactors_count = df['CONTRIBUTING FACTOR VEHICLE 1'].value_counts() 
contributingfactors_count

CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction                           401262
Failure to Yield Right-of-Way                            119166
Following Too Closely                                    107467
Backing Unsafely                                          75042
Other Vehicular                                           62688
Passing or Lane Usage Improper                            55445
Turning Improperly                                        49908
Passing Too Closely                                       49848
Fatigued/Drowsy                                           47343
Unsafe Lane Changing                                      39711
Traffic Control Disregarded                               35210
Driver Inexperience                                       31274
Unsafe Speed                                              26915
Alcohol Involvement                                       21656
Lost Consciousness                                        20374
Reaction to Uninvolved Vehicle                            19502
Pavement Slippery                                         19268
Prescription Medication                                   15407
View Obstructed/Limited                                   13215
Outside Car Distraction                                   12657
Oversized Vehicle                                         12352
Physical Disability                                        9342
Aggressive Driving/Road Rage                               9263
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      9116
Passenger Distraction                                      7925
Brakes Defective                                           6741
Fell Asleep                                                5459
Obstruction/Debris                                         4143
Glare                                                      4022
Failure to Keep Right                                      3239
Steering Failure                                           2791
Tire Failure/Inadequate                                    2453
Pavement Defective                                         2401
Other Electronic Device                                    2331
Illness                                                    2158
Illnes                                                     1584
Animals Action                                             1518
Reaction to Other Uninvolved Vehicle                       1337
Driverless/Runaway Vehicle                                 1209
Accelerator Defective                                      1060
Lane Marking Improper/Inadequate                            970
Traffic Control Device Improper/Non-Working                 847
Drugs (illegal)                                             838
Cell Phone (hand-Held)                                      503
Drugs (Illegal)                                             419
Cell Phone (hands-free)                                     269
Tow Hitch Defective                                         213
Other Lighting Defects                                      184
Tinted Windows                                              162
Using On Board Navigation Device                            148
Vehicle Vandalism                                           131
Headlights Defective                                        130
Eating or Drinking                                          116
80                                                          101
Shoulders Defective/Improper                                 88
Cell Phone (hand-held)                                       79
Windshield Inadequate                                        77
Texting                                                      50
Listening/Using Headphones                                   24
1                                                            10
Name: count, dtype: int64

In [46]:
top_causes = contributingfactors_count.iloc[:3]
top_causes

CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction    401262
Failure to Yield Right-of-Way     119166
Following Too Closely             107467
Name: count, dtype: int64

### Looking at the data the top 3 causes of crashes are as follows:
$ 1. $Driver Inattention/Distraction                          
$ 2. $Failure to Yield Right-of-Way                            
$ 3. $Following Too Closely

In [47]:
proportion_top_causes = (top_causes.sum() / total_accidents) * 100
proportion_top_causes

47.37010461641528

## Analyzing fatalities

In [48]:
df['CRASH DATE_CRASH TIME'] = pd.to_datetime(df['CRASH DATE_CRASH TIME'])
df = df[df['CRASH DATE_CRASH TIME'].dt.year >= 2012]

In [65]:
fatalaccidents_count_pedestrians = df[df['NUMBER OF PEDESTRIANS KILLED'] >0].shape[0]
fatalaccidents_count_pedestrians

787

In [67]:
fatalaccidents_count_cyclist = df[df['NUMBER OF CYCLIST KILLED'] >0].shape[0]
fatalaccidents_count_cyclist

163

In [68]:
fatalaccidents_count_motorist= df[df['NUMBER OF MOTORIST KILLED'] >0].shape[0]
fatalaccidents_count_motorist

898

In [63]:
fatalaccidents_count = df[df['NUMBER OF PERSONS KILLED'] >0].shape[0]
fatalaccidents_count

1866

## Likelihood of fatal accidents

In [79]:
average_fatalities = (fatalaccidents_count / total_accidents) *1000
average_fatalities

0.12297162825752221

# Missing data

In [80]:
total_accidents

1325509

In [82]:
accidents_without_borough = df['BOROUGH'].isna().sum()
accidents_without_borough

462855

In [85]:
proportion_without_borough = (accidents_without_borough / total_accidents)*100
proportion_without_borough

34.919038648549346

## Which combinations of vehicles have the most number of accidents

In [86]:
df = df.dropna(subset=['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2'])
vehicle_combinations = df.groupby(['VEHICLE TYPE CODE 1', 'VEHICLE TYPE CODE 2']).size().reset_index(name='COUNT')
most_common_combination = vehicle_combinations[vehicle_combinations['COUNT'] == vehicle_combinations['COUNT'].max()]
most_common_combination

     VEHICLE TYPE CODE 1 VEHICLE TYPE CODE 2   COUNT
3367               Sedan               Sedan  160283